@charset "utf-8";
/* CSS Document */


body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, textarea, p, blockquote, th, td, button{padding:0;margin:0;}
fieldset, img{border:0;}
input, label, select, option, textarea, button, fieldset, legend{ font:12px/18px Verdana, Simsun, Helvetica, Arial, sans-serif;}
ul{ list-style:none;}
body{ background:url(../images/2.jpg);}
h1,h2,h3,h4,h5,h6{ font-size:100%;}
img,li{ vertical-align:top;border:0;}
img{ border:0; vertical-align:top;}
ul,li{ margin:0px; padding:0; list-style-type:none;}

.blank25{ clear:both; height:25px; overflow:hidden; display:block;}
.blank50{ clear:both; height:50px; overflow:hidden; display:block;}



body{ background:url(../images/dbj.jpg) repeat-y; width:100%; height:100%;}

#top{ background:#202020; height:30px; line-height:30px;}
#top_w1000{ width:1000px; margin:auto; font-size:12px; color:#999;}
.top_left{ float:left; width:870px;}
.top_right{ float:right; width:130px;}
	.top_right ul li{ float:left; margin-left:5px;}
	.top_right ul li a{ color:#999; text-decoration:none;}
	.top_right ul li a:hover{ color:#ccc; text-decoration:underline;}
	
	
#menu{ background:#0d7139; height:58px; margin-top:5px;}
#menu_w1000{ width:1000px; margin:auto; position:relative;}
	.logo{ float:left; width:250px; position:absolute; top:13px;}
	.nav{ float:right; width:750px; position:absolute; right:0;}
	.nav ul li{ float:left; font-size:16px; font-family:"微软雅黑"; color:#fff; width:105px; text-align:center; line-height:58px;}
	.nav ul li a{ color:#fff; text-decoration:none; display:block}
	.nav ul li a:hover{ color:#fff; text-decoration:none; background:#075429; width:105px; height:58px;}
	
	
#banner{ margin-top:87px;}
	#footer { text-align:center; }
	.fullSlide { width:100%; position:relative; height:460px; background:#000;}
	.fullSlide .bd { margin:0 auto; position:relative; z-index:0; overflow:hidden;}
	.fullSlide .bd ul { width:100% !important;}
	.fullSlide .bd li { width:100% !important; height:460px; overflow:hidden; text-align:center;}
	.fullSlide .bd li a { display:block; height:460px;}
	.fullSlide .hd { width:100%;position:absolute;z-index:1;bottom:0;left:0;height:30px;line-height:30px;}
	.fullSlide .hd ul { text-align:center;}
	.fullSlide .hd ul li { cursor:pointer;display:inline-block;*display:inline;zoom:1;width:42px;height:11px;margin:1px;overflow:hidden;background:#000;filter:alpha(opacity=50);opacity:0.5;line-height:999px;}
	.fullSlide .hd ul .on { background:#015928;}
	.fullSlide .prev,.fullSlide .next { display:block; position:absolute; z-index:1; top:50%; margin-top:-30px; left:15%; z-index:1; width:40px; height:60px;background:url(../images/slider-arrow.png) -126px -137px #000 no-repeat; cursor:pointer; filter:alpha(opacity=50);opacity:0.5; display:none;}
	.fullSlide .next { left:auto; right:15%; background-position:-6px -137px;}


#content{ width:1000px; margin:auto; margin-top:35px;}
.about{ float:left; width:345px; color:#333;}
	.about dl dt{ font-size:14px; font-weight:bold; margin-bottom:20px;}
	.about dl dt span{ float:right; font-size:12px; font-weight:normal;}
	.about dl dt span a{ color:#999; text-decoration:none;}
	.about dl dt span a:hover{ color:#999; text-decoration:underline;}
	.about_img{ float:left; width:76px;}
	.about_js{ float:right; width:256px; font-size:12px; line-height:24px;}
	
.news{ float:left; width:387px; margin-left:20px; color:#333;}
	.news dl dt{ font-size:14px; font-weight:bold; margin-bottom:15px;}
	.news dl dt span{ float:right; font-size:12px; font-weight:normal;}
	.news dl dt span a{ color:#999; text-decoration:none;}
	.news dl dt span a:hover{ color:#999; text-decoration:underline;}
	.news dl dd{ background:url(../images/news_bj.jpg) repeat-x; width:387px; height:30px; line-height:30px; font-size:12px;}
	.news dl dd a{ color:#333; text-decoration:none;}
	.news dl dd a:hover{ color:#555; text-decoration: underline;}
	.news dl dd span{ float:right; color:#999;}

.jjfa{ float:right; width:228px;}


#foot{ background:url(../images/foot_bj.jpg) repeat-x; height:105px;}
.foot_w1000{ width:1000px; margin:auto; padding-top:6px;}
	.f_left{ float:left; width:345px;}
	.f_right{ float:right; width:655px; font-size:12px; color:#ccc; margin-top:20px;}
	.f_right ul{ text-align:right;}
	.f_right ul li{ line-height:24px;}
	.f_right ul li a{ color:#ccc; text-decoration:none;}
	.f_right ul li a:hover{ color:#ccc; text-decoration: underline;}
	
	
	
/*---------------------------------------------------------------内页--------------------------------------------*/

#n_banner{ margin-top:87px;}

#n_content{ width:1000px; height:100%; clear:both; margin:auto; background:url(../images/left_bj.jpg) repeat-y;}
.clear { clear:both; } 
#n_left{ float:left; width:206px; background:url(../images/left_bj.jpg) repeat-y; width:206px; padding-bottom:20px;}
	.n_nav dl dt{ background:url(../images/bt.jpg) no-repeat; width:181px; height:30px; line-height:30px; font-size:14px; font-weight:bold; color:#fff; padding-left:25px;}
	.n_nav dl dd{ background:url(../images/navxl_bj.jpg) no-repeat; height:32px; line-height:32px; font-size:12px; color:#fff; padding-left:40px;}		
	.n_nav dl dd a{ font-size:12px; color:#fff; text-decoration:none; display:block;}
	.n_nav dl dd a:hover{ background:url(../images/navxl_bj2.jpg) no-repeat; height:32px; text-decoration:none; margin-left:-40px; padding-left:40px;}
	
	.l_contact dl dt{ margin-bottom:8px;}
	.l_contact dl dd{ font-size:12px; color:#333; font-family:Arial; margin-left:10px;}

#n_right{ float:right; width:784px; margin-top:10px;}
	.n_about dl dt{ background:url(../images/img_bt.jpg) no-repeat; width:764px; height:30px; line-height:30px; font-size:14px; font-weight:bold; padding-left:20px; color:#fff; margin-bottom:30px;}
	.n_about dl dd{ font-size:14px; color:#333; line-height:30px; width:700px; padding-left:30px;}
	.n_about dl dd img{ margin-top:30px;}
	
	.n_news dl dt{ background:url(../images/img_bt.jpg) no-repeat; width:764px; height:30px; line-height:30px; font-size:14px; font-weight:bold; padding-left:20px; color:#fff; margin-bottom:30px;}
	.n_news dl dd{ border-bottom:dashed 1px #b8b9b7; width:732px; height:36px; line-height:36px; font-size:12px; color:#333; margin-left:30px;}
	.n_news dl dd a{ color:#333; text-decoration:none;}
	.n_news dl dd a:hover{ color:#000; text-decoration: underline;}
	.n_news dl dd span{ float:right; color:#666;}
	
	.newsite h1{ background:url(../images/img_bt.jpg) no-repeat; width:764px; height:30px; line-height:30px; font-size:14px; font-weight:bold; padding-left:20px; color:#fff; margin-bottom:30px;}
	.newsite dl dt{ font-size:14px; font-weight:bold; text-align:center;}
	.newsite dl dd{ margin:0px 30px 0px 30px; font-size:12px; color:#333;}
	.newsite dl dd.xian{ border-top:dashed 1px #bbbbb9; margin-top:25px;}
	.newsite dl dd.laiyuan{ font-size:12px; color:#666; text-align:center; margin-top:25px;}
	
	.product h1{ background:url(../images/img_bt.jpg) no-repeat; width:764px; height:30px; line-height:30px; font-size:14px; font-weight:bold; padding-left:20px; color:#fff; margin-bottom:30px;}
	.pro_sk li{ float:left;}
	.pro_sk li.sk_left{ background:#e0e1de; width:355px; height:67px; font-size:12px; padding:20px 0px 0px 33px;}
	.sk_left dl dt{ color:#333; font-weight:bold; margin-bottom:10px;}
	.sk_left dl dt a{ color:#333; text-decoration:none;}
	.sk_left dl dt a:hover{ color:#000; text-decoration: underline;}
	.sk_left dl dd{ font-family:Arial; color:#666;}
	
	.pro_sk li.sk_right{ background:#e0e1de; width:355px; height:67px; margin-left:8px; font-size:12px; padding:20px 0px 0px 33px;}
	.sk_right dl dt{ color:#333; font-weight:bold; margin-bottom:10px;}
	.sk_right dl dt a{ color:#333; text-decoration:none;}
	.sk_right dl dt a:hover{ color:#000; text-decoration: underline;}
	.sk_right dl dd{ font-family:Arial; color:#666;}
	
	.pro_sk li.sk_left2{ width:355px; height:67px; font-size:12px; padding:20px 0px 0px 33px;}
	.sk_left2 dl dt{ color:#333; font-weight:bold; margin-bottom:10px;}
	.sk_left2 dl dt a{ color:#333; text-decoration:none;}
	.sk_left2 dl dt a:hover{ color:#000; text-decoration: underline;}
	.sk_left2 dl dd{ font-family:Arial; color:#666;}
	
	.pro_sk li.sk_right2{ width:355px; height:67px; margin-left:8px; font-size:12px; padding:20px 0px 0px 33px;}
	.sk_right2 dl dt{ color:#333; font-weight:bold; margin-bottom:10px;}
	.sk_right2 dl dt a{ color:#333; text-decoration:none;}
	.sk_right2 dl dt a:hover{ color:#000; text-decoration: underline;}
	.sk_right2 dl dd{ font-family:Arial; color:#666;}
	
	.solve h1{ background:url(../images/img_bt.jpg) no-repeat; width:764px; height:30px; line-height:30px; font-size:14px; font-weight:bold; padding-left:20px; color:#fff; margin-bottom:30px;}
	
	.message h1{ background:url(../images/img_bt.jpg) no-repeat; width:764px; height:30px; line-height:30px; font-size:14px; font-weight:bold; padding-left:20px; color:#fff; margin-bottom:30px;}
	.hfly{ margin-top:25px;}
	.hfly dl dt{ background:url(../images/sk.jpg) repeat-x; height:33px; line-height:33px; font-size:12px; padding-left:20px;}
	.hfly dl dd.hfly_bt{ font-size:12px; font-weight:bold; width:693px; margin-top:15px;}
	.hfly dl dd.hfly_bt span{ color:#999; font-weight:normal; float:right;}
	.hfly dl dd.xxian2{ border-top: dashed 1px #cbcbcb; margin-top:6px;}
	.hfly dl dd.hfly_ms{ font-size:12px; color:#333; margin-top:10px;}
	.hfly dl dd.ymhf{ font-size:12px; color:#ff6600; margin-top:10px;}
	.hfly dl dd.xxian3{ border-top: dashed 1px #ffb26a; margin-top:6px;}	
	
	.page3{ clear:both; padding-top:15px;}
	.page3 ul li{ float:left; font-size:12px; font-family:"微软雅黑"; color:#333; margin-right:5px;}
	.page3 ul li a{ color:#333; text-decoration:none; display:block; border:solid 1px #dfdfdf; padding:1px 5px 3px 5px;}
	.page3 ul li a:hover{ color:#ff3300; text-decoration:none;}
	
	.contact h1{ background:url(../images/img_bt.jpg) no-repeat; width:764px; height:30px; line-height:30px; font-size:14px; font-weight:bold; padding-left:20px; color:#fff; margin-bottom:30px;}
	.contact dl{ margin-left:30px;}
	.contact dl dt{ font-size:14px; font-weight:bold;}
	.contact dl dd{ font-size:12px; line-height:30px;}
	.contact dl dd img{ margin-top:15px;}


#page{ font-size:12px; color:#333; margin-left:160px;}	
	#page ul li{ float:left; margin-right:5px;}
	#page ul li a{ color:#333; text-decoration:none; border:solid 1px #d5d6cf; padding:2px 6px 2px 6px; display:block;}
	#page ul li a:hover{ color:#f04f00; text-decoration:none;}














